<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyou.nursing.mapper.NcMediaMapper">

    <resultMap id="MediaResult" type="com.youyou.nursing.domain.NcMedia">
        <id     property="mediaId"         column="media_id"/>
        <result property="babyId"          column="baby_id"/>
        <result property="fileName"        column="file_name"/>
        <result property="objectKey"       column="object_key"/>
        <result property="mimeType"        column="mime_type"/>
        <result property="fileSize"        column="file_size"/>
        <result property="mediaType"       column="media_type"/>
        <result property="tagCode"         column="tag_code"/>
        <result property="description"     column="description"/>
        <result property="healthCheckId"   column="health_check_id"/>
        <result property="uploaderId"      column="uploader_id"/>
        <result property="uploaderName"    column="uploader_name"/>
        <result property="delFlag"         column="del_flag"/>
        <result property="createTime"      column="create_time"/>
        <result property="updateBy"        column="update_by"/>
        <result property="updateTime"      column="update_time"/>
        <result property="healthCheckDate" column="health_check_date"/>
    </resultMap>

    <sql id="selectVo">
        select m.media_id, m.baby_id, m.file_name, m.object_key, m.mime_type, m.file_size,
               m.media_type, m.tag_code, m.description, m.health_check_id, m.uploader_id,
               m.uploader_name, m.del_flag, m.create_time, m.update_by, m.update_time,
               h.check_date as health_check_date
          from nc_media m
          left join nc_health_check h on h.check_id = m.health_check_id
    </sql>

    <select id="selectById" resultMap="MediaResult">
        <include refid="selectVo"/>
        where m.media_id = #{mediaId} and m.del_flag = '0'
    </select>

    <select id="selectList" parameterType="com.youyou.nursing.domain.NcMedia" resultMap="MediaResult">
        <include refid="selectVo"/>
        <where>
            m.del_flag = '0'
            and m.baby_id = #{babyId}
            <if test="tagCode != null and tagCode != ''">and m.tag_code = #{tagCode}</if>
            <if test="mediaType != null and mediaType != ''">and m.media_type = #{mediaType}</if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and m.create_time &gt;= to_timestamp(#{params.beginTime},'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and m.create_time &lt;= to_timestamp(#{params.endTime},'yyyy-MM-dd hh24:mi:ss')
            </if>
        </where>
        order by m.create_time desc, m.media_id desc
    </select>

    <select id="selectRecent" resultMap="MediaResult">
        <include refid="selectVo"/>
        where m.del_flag = '0' and m.baby_id = #{babyId}
        order by m.create_time desc, m.media_id desc
        limit #{limit}
    </select>

    <insert id="insert" parameterType="com.youyou.nursing.domain.NcMedia" useGeneratedKeys="true" keyProperty="mediaId">
        insert into nc_media (
            baby_id, file_name, object_key, mime_type, file_size, media_type, tag_code,
            description, health_check_id, uploader_id, uploader_name, del_flag, create_time
        ) values (
            #{babyId}, #{fileName}, #{objectKey}, #{mimeType}, #{fileSize}, #{mediaType}, #{tagCode},
            #{description}, #{healthCheckId}, #{uploaderId}, #{uploaderName}, #{delFlag}, current_timestamp
        )
    </insert>

    <update id="updateMeta" parameterType="com.youyou.nursing.domain.NcMedia">
        update nc_media
           set tag_code = #{tagCode},
               description = #{description},
               health_check_id = #{healthCheckId},
               update_by = #{updateBy},
               update_time = current_timestamp
         where media_id = #{mediaId} and del_flag = '0'
    </update>

    <update id="markDelete">
        update nc_media
           set del_flag = '2',
               update_time = current_timestamp
         where media_id = #{mediaId} and del_flag = '0'
    </update>
</mapper>
